.profile__avatar-edit {
  transition: background-image 0.3s ease-in-out;
}

.profile__avatar-edit:hover {
  z-index: 1;
  background-image: url('../../../images/avatar-edit.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
