

.places {
  max-width: 882px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 18px;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
  .places {
    margin: 0 30px;
  }
}

@media screen and (max-width: 400px) and (min-width: 320px) {
  .places {
    margin: 0 19px;
  }
}
