@import url(../places/__image/places__image.css);
@import url(../places/__item/places__item.css);
@import url(../places/__like-button/places__like-button.css);
@import url(../places/__name/places__name.css);
@import url(../places/__description/places__description.css);

.places {
  max-width: 882px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 18px;
}
