.popup__input {
  width: 358px;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin-top: 30px;
}
/* ласт чайлд у меня тут не работает http://puu.sh/GGZxG/8d5d6ab218.png 
и в филдсете тоже*/

.popup__input:focus {
  outline: none;
}

@media screen and (max-width: 520px) and (min-width: 320px) {
  .popup__input {
    max-width: 238px;
  }
}
