.places__image {
  height: 100%;
  max-width: 282px;
  max-height: 282px;
}

@media screen and (max-width: 900px) and (min-width: 660px) {
  .places__image {
    max-width: 350px;
    width: 100%;
  }
}

@media screen and (max-width: 660px) and (min-width: 320px) {
  .places__image {
    max-width: 500px;
    width: 100%;
  }
}
