.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 3%;
}

@media screen and (max-width: 520px) and (min-width: 320px) {
  .popup__container {
    margin: 0 19px;
  }
}
