@import url(../profile/__add-button/profile__add-button.css);
@import url(../profile/__avatar/profile__avatar.css);
@import url(../profile/__edit-button/profile__edit-button.css);
@import url(../profile/__info/profile__info.css);
@import url(../profile/__name/profile__name.css);
@import url(../profile/__occupation/profile__occupation.css);
@import url(../profile/__main/profile__main.css);
@import url(../profile/__user/profile__user.css);

.profile {
  max-width: 882px;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) and (min-width: 320px) {
  .profile {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 675px) and (min-width: 320px) {
  .profile {
    flex-direction: column;
  }
}
