.popup__input-error {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  box-sizing: border-box;
  color: #ff0000;
  padding-top: 5px;
  width: 358px;
  height: 30px;
  margin-bottom: -20px;
  word-wrap: break-word;
}
