.popup__input-error {
  display: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #ff0000;
  border-top: 1px solid #ff0000;
  padding-top: 5px;
  width: 358px;
  margin-bottom: -20px;
  word-wrap: break-word;
}
