.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 400px) and (min-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
