.profile__add-button {
  background-image: url(../../../images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  width: 150px;
  height: 50px;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button:focus {
  outline: none;
}

@media screen and (max-width: 675px) and (min-width: 320px) {
  .profile__add-button {
    width: 282px;
  }
}
