.places__name {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.places__name:hover {
  white-space: normal;
}
