@font-face {
  src: url('./_inter/Inter-Black.woff2') format('woff2'),
    url('./_inter/Inter-Black.woff') format('woff'),
    url('./_inter/Inter-Black.ttf') format('truetype');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url('./_inter/Inter-Regular.woff2') format('woff2'),
    url('./_inter/Inter-Regular.woff') format('woff'),
    url('./_inter/Inter-Regular.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('./_inter/Inter-Medium.woff2') format('woff2'),
    url('./_inter/Inter-Medium.woff') format('woff'),
    url('./_inter/Inter-Medium.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
}

/* Здесь нет лишних файлов, 400 - в поле род занятий и в футере, 500 - в имени пользователя, 900 - в названиях карточек*/
