.place__like-button {
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 19px;
  transition: opacity 0.3s ease-in-out;
  outline: none;
}

.place__like-button:hover {
  opacity: 0.6;
}
