.profile__name {
  margin: 0 auto;
  padding-bottom: 16px;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 760px) and (min-width: 320px) {
  .profile__name {
    font-size: 27px;
    line-height: 36px;
    margin-top: 20px;
    max-width: 230px;
  }
}
