.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  z-index: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.profile__avatar:hover {
  opacity: 0.2;
}

@media screen and (max-width: 700px) and (min-width: 320px) {
  .profile__avatar {
    align-self: center;
  }
}
