.places__like-button {
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 19px;
}

.places__like-button:hover {
  transform: scale(1.2);
}

.places__like-button:focus {
  outline: none;
}
