@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__occupation/profile__occupation.css);
@import url(../blocks/profile/__main/profile__main.css);
@import url(../blocks/profile/__user/profile__user.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__like-button/places__like-button.css);
@import url(../blocks/places/__name/places__name.css);
@import url(../blocks/places/__description/places__description.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__occupation/popup__occupation.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
