.popup__title {
  text-align: center;
  margin: 34px auto 54px;
  margin-left: 33px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (max-width: 520px) and (min-width: 320px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}
