.profile__occupation {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 820px) and (min-width: 320px) {
  .profile__occupation {
    max-width: 230px;
    font-size: 14px;
    line-height: 17px;
  }
}
